#name {
  font-family: 'Princess Sofia', cursive;
  font-size: 60px;
  color: white;
}

.fab {
  color: white;
}

.list {
  font-family: 'Comfortaa', cursive;
  /* font-family: 'Kalam', cursive; */
  color: white;
  font-size: 24px;
}

.btn {
  font-size: 35px;
  color: white;
}
