.App {
  text-align: center;
  background-size: cover;
  /* height: 100vh; */
}
#root{
  min-height:100%
}
/* body{
  height: 100vh;
} */
.row{
  width: 100%;
}
.contact-info {
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  color: #292b2c;
}
.router{
  min-height: 90%;
}
#contact {
  font-size: 30px;
}

#info {
  font-size: 20px;
}

.form-control {
  font-family: 'Comfortaa', cursive;
  font-size: 15px;
  color: #292b2c;
}

#name {
  font-family: 'Princess Sofia', cursive;
  font-size: 60px;
  color: white;
}
.navbar{
  min-height: 10%;
}



