.footer {
  min-height: 50px;
  position: relative;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* padding: 2px; */
  color: white;
}

.ftr {
  font-family: 'Comfortaa', cursive;
  color: white;
  font-size: 18px;
}
